.pomodorobutton {
    -fx-max-width: 60px;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-background-size: 60px 60px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}

#playPauseButton {
    -fx-background-image: url('../../../../../svg/play.png');
}

#playPauseButtonPause {
    -fx-background-image: url('../../../../../svg/pause.png');
}

#skipButton {
    -fx-background-image: url('../../../../../svg/skip.png');
}

#extendButton {
    -fx-background-image: url('../../../../../svg/hollowPlus.png');
}

#stopButton {
    -fx-background-image: url('../../../../../svg/stop.png');
}
